[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu128"
verify_ssl = true
name = "pytorch"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-bdd = "*"
pytest-mock = "*"
pylint = "*"
coverage = "*"
autopep8 = "*"
ipykernel = "*"

[packages]
python-dotenv = "==0.19.2"
safety = "*"
requests = "*"
jsonschema = "*"
pandas = "*"
seaborn = "*"
numpy = "*"
lmdb = "*"
matplotlib = "*"
ase = "*"
py3Dmol = "*"
torch = "*"
torchvision = "*"
torchsummary = "*"
tensorboard = "*"
ipykernel = "*"
torch-geometric = "*"

[requires]
python_version = "3.12"
